@media only screen and (max-width: 600px) {
    #pic-outer {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    #pic-outer {
        position: absolute;
        width: 70vmin;
        height: fit-content;
        z-index: -5;
        left: 50vw;
        top: 10vh;
        opacity: 0.1;
        display: flex;
        margin: auto;
    }
    #pic-inner img {
        /*remove picture*/
        border-radius: 100%;
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    /* future goes here*/
}
