.table-of-content-text,
.table-of-content-text:visited {
    color: rgb(18, 100, 112);
}

.table-of-content-text:hover {
    color: rgb(8, 45, 51);
}


@media only screen and (max-width: 850px) {
    .table-of-content-wrapper {
        display: none;
    }
}
@media only screen and (min-width: 850px) {
    .table-of-content-wrapper {
        position: fixed;
        margin: 5vmin 3vmin;
        list-style-type: none;
        text-align: left;
        z-index: 999;
        font-weight: bold;
    }

    ul.table-of-content {
        margin: 0.5vh;
    }

    .table-of-content-text:hover {
        color: rgb(104, 104, 104);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.2);
    }

    @media (prefers-color-scheme: dark) {
        .table-of-content-text,
        .table-of-content-text:visited {
            color: rgb(187, 187, 187);
        }

        .table-of-content-text:hover {
            color: rgb(255, 255, 255);
        }
    }
}

